@media screen and (max-width: 500px) {
  body {
    .app {
      .navbar-container {
        button {
          text-align: center;
          width: 55px;
          height: 20px;
          font-size: 10px;
        }
      }
      .page-container {
        // height: max-content;
        h3 {
          width: max-content;
        }
        .img {
          margin-top: 100px;
          height: 200px;
        }
        .contact-component-container {
          .contact-modal-container {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
